html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }

  .showcase{
    position:absolute;
    right:0;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    z-index: 2;
  }

  .logo{
    position: fixed;

    /* white log */
    margin-top: -120px;
    margin-left: -10px;
    width: 500px;
    height: 450px;
    top: 0;
    left: 0;
  }
  .mid-logo{
    position: relative;
    z-index: 4;
    text-align: center;
    width: 1000px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -30px;
    margin-left: 450px; */
    display: block;
    top: -145px;
  }

  .background{
    height: 100%;
    position: relative; /* magic sauce II */
  }
  
  .showcase video{
    position: fixed; /* magic sauce */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1000;

  }
  .ig-button{
    position: relative;
    border: none;
    font-size: 15px;

    }

  /* Contact Button */
  .contact-button{
    position: relative;
    border: none;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    padding: 15px 35px;
    font-weight: bold;
    margin-top: 85px;
    margin-right: 65px;
    clip-path: polygon(5% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0 10%);
  }

  .contact-button:hover{
    background-color: black;
    color:  white;
    transition: .4s;
  }

  .foot-edit{
    color: white;
    font-size: 20px;
    z-index: 2;
    position: absolute;
    margin-left: 15px;
    left: 50px;
    bottom: 75px;
  }

  .fa{
    position: absolute;
    bottom: 120px;
    right: 80px;
    font-weight: bold;
    margin-left: 150px;
    padding: 10px 12px;
    content: "";
    border: none;
    width: 110px;
    text-align: center;
    text-decoration: none;
    z-index: 2;
  }

  .fa:hover{
    transition: 0.5s;
    background-color: black;
    color: white;
}
 .fa-instagram {
  background: white;
  color: black;
  clip-path: polygon(5% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0 10%);

} 


/* Media Queries for 4 different sizes*/

/* Small devices (portrait tablets and large phones,425px and up) */
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .logo{
    margin-top: -5px;
    margin-left: 5px;
    width: 180px;
    height: 180px;
  }
  .contact-button{
    font-size: 12px;
    padding: 10px 17px;
    margin-top: 65px;
    margin-right: 30px;

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .logo{

    margin-top: -10px;
    margin-left: 10px;
    width: 220px;
    height: 210px;

  }
  .contact-button{
    font-size: 13px;
    padding: 11px 20px;
    margin-top: 70px;
    margin-right: 30px;
  }
} 

/*  large devices (large laptops and desktops) */
@media only screen and (min-width:769px) and (max-width: 1024px) {
  .logo{

    margin-top: -55px;
    margin-left: -20px;
    width: 320px;
    height: 300px;

  }
  .contact-button{
    padding: 13px 31px;
    margin-top: 70px;
    margin-right: 30px;
  }
}
  

  